<main class="container">
	<section class="reasons-content">
		<div deckgrid class="deckgrid clearfix" source="ctrl.ngModel">
			<div class="a-card">
				<reason ng-model="::card"></reason>
			</div>
		</div>
	</section>
</main>