<main class="container-lg-gutter">
	<section class="share-content">
		<div class="share-submission">
			<h1>What is your reason?</h1>

			<form ng-submit="submission.submit()">
				<input placeholder="Name" type="text" class="form-control valid"
					ng-model="submission.submission.name"
					ng-disabled="submission.isSubmitting" auto-focus>
				<input placeholder="Email" type="text" class="form-control"
					ng-model="submission.submission.email"
					ng-disabled="submission.isSubmitting">
				<input placeholder="Age" type="number" class="form-control"
					ng-model="submission.submission.age"
					ng-disabled="submission.isSubmitting">
				<textarea placeholder="I love the Lord because..." class="form-control"
					ng-model="submission.submission.reason"
					ng-disabled="submission.isSubmitting">
				</textarea>
				<div>
					<button type="submit" class="btn"
						ng-disabled="submission.isSubmitting">
						<img src="images/comment.svg">
					</button>
				</div>
				<div class="submitted-throbber" ng-show="submission.isSubmitting">
					<img src="images/throbber.svg">
				</div>
			</form>
		</div>
	</section>
</main>