$fade-transition-time: 0.5s;
.fade {
	opacity: 1;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
	transition: $fade-transition-time ease all;
}

.fade.ng-hide {
	opacity: 0;
}

$fade-transition-time: 0.5s;
.fade-delayed {
	opacity: 1;
}

.fade-delayed.ng-hide-add, .fade-delayed.ng-hide-remove {
	transition: $fade-transition-time ease all;
}

.fade.ng-hide-stagger {
	transition-delay: 5s;
	transition-duration: 0s;
}

.fade-delayed.ng-hide {
	opacity: 0;
}