.btn {
	border: 1px solid #E8E8E8;
	padding: 0.5em 1.5em;
	background-color: transparent;
	color: $font-color;
	outline: none;
	transition: .3s ease-out background-color;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.btn:hover:enabled, .btn:focus:enabled {
	transition: .3s ease-in background-color;
	background-color: rgba(255, 255, 255, 0.13);
}

.btn.btn-xl {
	font-size: 2em;
	font-weight: 200;
	padding: .5em 1.5em;
}