.form-control {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	padding: 15px 20px;
	font-size: 20px;
	border: 1px solid transparent;
	transition: .2s ease border-color;
	background-color: $form-control-background;
	outline: none;
	box-sizing: border-box;
}

.form-control:focus {
	border-color: rgba(255, 255, 255, 0.69);
	transition: .2s ease border-color;
}

.form-control::-webkit-input-placeholder {
	color: rgba(236, 236, 236, 0.7) !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
	color: rgba(236, 236, 236, 0.7) !important;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(236, 236, 236, 0.7) !important;
}

.form-control:-ms-input-placeholder {
	color: rgba(236, 236, 236, 0.7) !important;
}