.input-group {
	position: relative;
	display: table;
	border-collapse: separate;

	.form-control {
		display: table-cell;
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 0;
		border-right: 1px solid rgba(255, 255, 255, 0.5);
	}
	.input-group-addon {
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		background-color: $form-control-background;

		img {
			height: 30px;
			width: 30px;
		}
	}

}