@import 'variables';

@import 'animations';
@import 'button';
@import 'input-group';
@import 'form';
@import 'typography';
@import 'deckgrid';

.container {
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container::after {
	clear: both;
}
.container::before {
	content: " ";
	display: table;
}

.container-lg-gutter {
  @extend .container;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container-lg-gutter {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .container-lg-gutter {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .container-lg-gutter {
    width: 750px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}