.share-content {
	margin-top: 150px;
	text-align: center;
	position: relative;

	form {
		text-align: center;
	}

	textarea {
		height: 140px;
		resize: none;
	}

	.btn {
		padding: 10px;
		border: none;
	}

	img {
		height: 40px;
		width: 40px;
	}
}

.share-social-media {
	background-color: rgba(255, 255, 255, 0.13);
	padding: 30px;
	text-align: center;
}

hr {
	border: none;
	border-bottom: 1px solid white;
	max-width: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}