.reasons-content {
	padding-top: $navbar-height;
}

.reasons-header {
	text-align: center;
}

reasons-list {
	display: block;
	& [deckgrid] {
		display: block;
	}
}

reason {
	min-width: 100%;
	display: inline-block;
	margin-bottom: 30px;
	color: #848383;
	font-weight: 300;
	padding: 10px;
	margin: 0;

	.reason {
		padding: 15px;
		background-color: #FFFFFF;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		border-radius: 3px;
	}

	.profile-picture {
		height: 80px;
		width: 80px;
		/*border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;*/
		border-radius: 50%;
		margin-bottom: 5px;
	}

	hr {
		margin-top: 15px;
		margin-bottom: 15px;
		border-color: #D6D6D6;
	}

	.reason-header {
		text-align: center;
		padding-right: 0.5em;
		padding-left: 0.5em;
		overflow-wrap: break-word;
		margin-bottom: 15px;
		margin-top: 15px;
		font-weight: 400;
		color: #333333;
	}
	.reason-name {
		font-size: 18px;
	}

	.reason-content {
		text-align: center;
		font-size: 14px;
		p {
			margin: 0;
		}

		h2 {
			font-weight: 200;
			margin: 0 0 10px 0;
		}
	}

	.actions {
		text-align: center;
		opacity: 0;
		transition: all 0.3s ease;
		min-height: 50px;
		* {
			cursor: pointer;
			transition: all 0.3s ease;
			margin-top: 20px;
		}
	}

	&:hover .actions {
		opacity: 1;
		transition: all 0.5s ease;
		* {
			transition: all 0.3s ease;
			margin-top: 15px;
		}
	}

	.share {
		height: 25px;
		width: 25px;
	}
}