@import 'home/home';
@import 'share/share';
@import 'reasons/reasons';

body {
	background: url('images/background-overlay.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

* {
	box-sizing: border-box;
}

.main-container {
    display: block;
    margin-top: $navbar-height;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}