<main class="container-lg-gutter">
	<section class="share-content">
		<h1>Thank you. <br> <small>Your reason has been submitted for approval.</small></h1>
		<div class="share-social-media">
			<p>Your submission can be viewed here:</p>
			<div class="input-group">
				<input class="form-control" disabled value="http://www.10kreasons.com/reasons/5">
				<span class="input-group-addon">
					<a class="btn">
						<img src="images/copy.svg">
					</a>
				</span>
				<span class="input-group-addon">
					<a class="btn">
						<img src="images/arrow-right.svg">
					</a>
				</span>
			</div>

			<!-- <hr>

			<p>Encourage others to share their reasons too.</p>
			<div class="button-group">
				<div>
				</div>
			</div> -->

		</div>
	</section>
</main>