<main>
	<section class="container-lg-gutter home-content">
		<h1>For my heart to find</h1>
		<hr>
		<p>
			In Psalm 103, David lists many reasons as to why his heart is full of worship for God: He redeems your life from the pit, He crowns you with steadfast love and mercy, He heals all your disease.
		</p>
		<p class="lead">
			We are collecting (at least) 10,000 <em>reasons</em> of why our hearts are full of worship, as an act of worship itself and to encourage one another in pursuit of our LORD and Christ.  Share why your heart is full of worship.
		</p>
		<a class="btn btn-xl" ui-sref="app.share.submission">Share</a>
	</section>
</main>

