<div class="reason" ng-if="ctrl.ngModel.reason">
	<div class="reason-header col-xs">
		<!-- <img ng-src="{{ctrl.ngModel.image}}" class="profile-picture"> -->
		<div class="reason-name">
			{{ctrl.ngModel.name}}
		</div>
	</div>
	<hr>
	<div class="reason-content col-xs">
		<p>
			{{ctrl.ngModel.reason}}
		</p>
	</div>
	<hr>
	<div class="actions">
		<img src="images/heart.svg" class="share" style="margin-right: 20px;">
		<img src="images/share-icon.svg" class="share">
	</div>
</div>